<div class="widget widget-collapsible">
	{% for category in categories %}
		{% if category.parent == null %}
			<h3 class="widget-title">
				<a data-toggle="collapse" href="#widget-4" role="button" aria-expanded="true" aria-controls="widget-4">
					{{ category.name }}
				</a>
			</h3>
			<!-- End .widget-title -->
		{% else %}

			<div class="collapse show" id="widget-4">
				<div class="widget-body">
					<div class="filter-items">
						<div class="filter-item">
							<div class="custom-control custom-checkbox">

								<a href="{{ path('category_list', {slug: category.slug}) }}" class="custom-control-label">{{ category.name }}</a>
								(<span class="item-count">{{ category.products | length  }}</span>)
							</div>
							<!-- End .custom-checkbox -->

						</div>
						<!-- End .filter-item -->

					</div>
					<!-- End .filter-items -->
				</div>
				<!-- End .widget-body -->
			</div>
			<!-- End .collapse -->
		{% endif %}
	{% endfor %}
</div>
<!-- End .widget -->
