<div class="header-top">
	<div class="container-fluid">
		<div class="header-left">
			<div class="header-dropdown">
				<a href="#">Usd</a>
				<div class="header-menu">
					<ul>
						<li><a href="#">Eur</a></li>
						<li><a href="#">Usd</a></li>
					</ul>
				</div>
				<!-- End .header-menu -->
			</div>
			<!-- End .header-dropdown -->

			<div class="header-dropdown">
				<a href="#">Eng</a>
				<div class="header-menu">
					<ul>
						<li><a href="#">English</a></li>
						<li><a href="#">French</a></li>
						<li><a href="#">Spanish</a></li>
					</ul>
				</div>
				<!-- End .header-menu -->
			</div>
			<!-- End .header-dropdown -->
		</div>
		<!-- End .header-left -->

		<div class="header-right">
			<ul class="top-menu">
				<li>
					<a href="#">Links</a>
					<ul>
						<li>
							<a href="tel:#">
								<i class="icon-phone"></i>Call: +0123 456 789</a>
						</li>
						<li>
							<a href="wishlist.html">
								<i class="icon-heart-o"></i>My Wishlist<span>(3)</span>
							</a>
						</li>
						<li>
							<a href="about.html">About Us</a>
						</li>
						<li>
							<a href="contact.html">Contact Us</a>
						</li>
						{% if app.user %}
							<li>
								<a href="">
									<i class="icon-user"></i>Mon compte</a>
							</li>
							<li>
								<a href="{{path('app_logout')}}">
									Se déconnecter</a>
							</li>
						{% else %}
							<li>
								<a href="{{path('app_login')}}">
									<i class="icon-user"></i>Se connecter</a>
							</li>
							<li>
								<a href="{{path('app_register')}}">
									<i class="icon-user"></i>S'inscrire</a>
							</li>
						{% endif %}
					</ul>
				</li>
			</ul>
			<!-- End .top-menu -->
		</div>
		<!-- End .header-right -->
	</div>
	<!-- End .container-fluid -->
</div>
<!-- End .header-top -->
